@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Nunito:wght@400;500;700&family=Ubuntu:wght@400;500;700&display=swap");

@import 'swiper/css';

@import 'swiper/css/pagination';

html, body {
  overflow-x: hidden;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.5s;
}
